<!doctype html>
<html>
  <head>
    <title>ADNOCE</title>
    <meta name="viewport" content="width=device-width">
    <script src="<%=cdnurl%>/jquery-1.9.1.min.js"></script>    
    <script src="/socket.io/socket.io.js"></script>    
  </head>
  <body>
    <p>LOG, Server status: <span id="serverstatus"></span></p>
    <div id="log">
    </div>
    <script>
    var trackingDataIO = io.connect();
    trackingDataIO.on('connect', function () {      
      $('#serverstatus').text('connected');      
    });
    trackingDataIO.on('disconnect', function () {      
      $('#serverstatus').text('disconnected');
    });
  
    trackingDataIO.on('trackingdata', function (data) {
      if ($('.logline').length > 20) $('.logline:first').remove();
      var sid = data.persistentSessionId || data.sessionId;
      $('#log').append('<div class="logline">'+data.timestamp+' | '+sid+' hit '+data.url+'</div>');      
    });
  </script>
  </body>
</html>